.animate {
    animation-duration: 0.75s;
    animation-delay: 0.5s;
    animation-name: animate-fade;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-fill-mode: backwards;
}
  
  /* Glow In */
.animate.glow {
    animation-name: animate-glow;
    animation-timing-function: ease;
}

@keyframes animate-glow {
    0% {
        opacity: 0;
        transform: scale(0.8, 0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.delay-1 { animation-delay: 0.6s; }  
.delay-2 { animation-delay: 0.7s; }
.delay-3 { animation-delay: 0.8s; }

@media screen and (prefers-reduced-motion: reduce) {
    .animate { animation: none !important; }
  }


.whiteBackground{
    background-color: white;
}
.pushContentDonw{
    padding-top: 100px;
}

.aboutMeHeader{
    margin-left: 10%;
    color: teal;
    text-decoration: underline;
}

.container{
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    justify-content: center;

   

    .detailsContainer{
        display: inline-grid;
        justify-items: center;
        align-items: center;
        margin-right: 20%;


        @media(pointer: coarse){
            margin-right: auto;
        }

        .deatilHeaderh3{
            justify-self: start;
            margin-left: 2%;
            margin-top: 10px;
            color: teal;
            text-decoration: underline;
            
            @media(pointer: coarse){
                margin-top: 20%;
                margin-left: 10%;
            }
        }
        
        .customWidth{
            width: 95%;            
            @media(pointer: coarse){
                width: 80%;              
            }
        }

        .bioText{
            font-size: large;
            font-weight: 600;
        }
    
    }

    #profilePhoto{
        height: 100%;
        width: 100%;
    }
    
    #imageContainer{
        // justify-self: center;
        width: 450px;
        height: 650px;
        object-fit: contain;
        box-shadow: 5px 5px 10px grey;
        margin-left:20%;
    
        @media(pointer: coarse){
            width: auto;
            height: auto;
            justify-self: center;
            margin: 0;
        }
    }
    
}










