/* Change everything to grid */
/* grid-template-columns: repeat(auto-fit,minmax(240px,1fr)); */
.whiteBackground{
    background-color: white;
}
.pushContentDonw{
    padding-top: 100px;
}

.aboutMeHeader{
    margin-left: 10%;
    color: teal;
    text-decoration: underline;
}

.container{
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    justify-content: center;

   

    .detailsContainer{
        display: inline-grid;
        justify-items: center;
        align-items: center;
        margin-right: 20%;


        @media(pointer: coarse){
            margin-right: auto;
        }

        .deatilHeaderh3{
            justify-self: start;
            margin-left: 2%;
            margin-top: 10px;
            color: teal;
            text-decoration: underline;
            
            @media(pointer: coarse){
                margin-top: 20%;
                margin-left: 10%;
            }
        }
        
        .customWidth{
            width: 95%;            
            @media(pointer: coarse){
                width: 80%;              
            }
        }

        .bioText{
            font-size: large;
            font-weight: 600;
        }
    
    }

    #profilePhoto{
        height: 100%;
        width: 100%;
    }
    
    #imageContainer{
        // justify-self: center;
        width: 450px;
        height: 650px;
        object-fit: contain;
        box-shadow: 5px 5px 10px grey;
        margin-left:20%;
    
        @media(pointer: coarse){
            width: auto;
            height: auto;
            justify-self: center;
            margin: 0;
        }
    }
    
}










