/* Change everything to grid */
/* grid-template-columns: repeat(auto-fit,minmax(240px,1fr)); */
.whiteBackground{
    background-color: white;
}
.pushContentDonw{
    padding-top: 100px;
}

.aboutMeH2{
    margin-left: 10%;
    color: teal;
    text-decoration: underline;
}

.container{
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    justify-content: center;
}

.aboutTextContainer{
    display: inline-grid;
    justify-items: center;
    align-items: center;
}
.customWidth{
    width: 60%;
}

.techList{
    list-style: none;
}

#profilePhoto{
    height: 400px;
    width: auto;
}

#imageContainer{
    height: 400px;
    box-shadow: 5px 5px 10px grey;
    justify-self: center;
}




