.rowGridContainer{
    background-color: #072e33;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    justify-items: center;
    box-shadow: 5px 10px 20px black;
    /* width: 30%; */
    border-radius: 7px;
    margin-bottom: 20px;
    // background-color: teal;
    border: none;

    @media(pointer: coarse){
        height: 250px;
        position: relative;
        overflow: hidden;

        &:focus .descriptionContainer{
            bottom: 0;
            box-shadow: 0px 0px 40px whitesmoke;
            background: radial-gradient(circle, rgb(2, 179, 179) 25%,  rgb(136, 210, 210) , whitesmoke 100%);
        }
    }

    @media(pointer: fine){
        height: 300px;
        position: relative;
        overflow: hidden;        
        
        &:hover .descriptionContainer{
            bottom: 0;
            
        }

        &:hover{
            box-shadow: 0px 0px 40px whitesmoke;
            background: radial-gradient(circle, rgb(2, 179, 179) 25%,  rgb(136, 210, 210) , whitesmoke 100%);
        }
    }

   


    .projectsTitles{
        /* color:teal; */
        margin-bottom: 20%;
        color: teal;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: 300;
    }

    .projectImageContainers{
        display: flex;
        /* aspect-ratio: 1/1; */
        object-fit: contain;
        justify-content: center;
       
        .projectImages{
            width: 100px;
            height: auto;
            border-radius: 5px;
            cursor: pointer;
            margin-bottom: 20px;
        }
    }
    
    .descriptionContainer{
        padding-top: 50px;
        padding-right: 10%;
        padding-left: 10%;   
        position: absolute;
        bottom: -500%;
        transition: bottom 0.4s ease-in-out;
        backdrop-filter: blur(10px);
        background-color: rgba( 0,0,0,0.3);

        @media(pointer: coarse){
            transition: bottom 0.7s ease-in-out;
        }
        
    }


    
    
}






