
.header{
    /* background: linear-gradient(135deg, black, teal); */
    height: 480px;
    background: linear-gradient(135deg, black, black, rgb(0, 99, 99));
}

.particles{
    height:100%;
}

.headerDiv{
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 1;
}

.headerH1{
    color: teal;
    position: relative;
}

.headerText{
    margin-top: 0;
}

.whiteText{
    color: whitesmoke;
}



